<h3>什麼是《賭神贏率》？</h3>
《賭神贏率》是一個扑克牌概率計算器。它幫助牌手計算每手牌的贏率。您可以在牌桌上使用，也可以打完牌以后用它來總結和學習。

<h3>我可以怎麼使用《賭神贏率》？</h3>
您可以在屏幕下方的52張牌選擇您和對手的底牌。每手牌的贏率會自動顯示在底牌的底下。然后您可以選擇flop和轉牌，概率會自動更新。點一下已經選擇的牌會清除已有的選擇。

<h3>為什麼奧馬哈底牌隻有10萬組合（蒙地卡羅方法）?</h3>
估算10萬組合和精確結果誤差最多隻有0.2%。《賭神贏率》能在3秒鐘內完成計算10萬組合。

<h3>為什麼隻有德州扑克和奧馬哈？</h3>
我們會在以后的更新增加梭哈，Razz, 五張換，2-7三次換，2-7單次換等等。

<h3>概率是怎麼計算的？是預先計算還是當場計算？</h3>
當場計算。計算組合的次數顯示在屏幕上。我們開發出先進的算法來優化完成計算！
