h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", sans-serif !important;
    color: #ffffff  !important;
}

a:link {
    color: #324fe1; 
    text-decoration: underline;
}

a:visited  {
    color: #1d1da3; 
    text-decoration: underline;
}

body { margin: 5px; padding: 0px 12px 12px 12px; }

body, ul > li, li > a, ul, li, p, a {
    font-family: "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
    text-align: left;
    background-color: #000000;
    color: #ffffff !important;
    line-height: 22px !important;
}

iframe {
    display: none;
}

img {
    width: 100% !important;
    height: auto !important;
    margin: 10px 0;
}