<h3>What is ScoopOdds?</h3>
Poker Odds Calculator, useful for poker players on and off the table to determine their hand equity, odds of win and tie.

<h3>What do I do with it? How to use it?</h3>
    <ul>
<li>A scrollable deck of 52 cards is at the bottom of the screen. Scroll and tap to select the desired card.</li>
<li>Once 2 hands are selected, the odds are automatically calculated and displayed.</li>
<li>Go on selecting community cards (flop and turn). Odds are recalculated at every selection.</li>
<li>Tap the card(s) on the table to push it back to the deck and re-select from deck.</li>
</ul>
    
<h3>Why omaha pre-flops are only 100,000 iterations (Monte-carlo)?</h3>
The 100,000 Monte-Carlo simulation is at most off by ~0.2% compared to the actual result. ScoopOdds can finish the 100,000 iterations within 3 seconds.  It is a trade-off for user experience.  This app does all the calculation in the device. It does not talk to any server, hence it doesn't use your network connection and it will work fine without internet, just like a calculator.

<h3>Does ScoopOdds require network connection to work?</h3>
No.
    
<h3>When can we expect other games supported?</h3>
Support for Stud, Stud8, Razz, 2-7 draw will be available in next release.

<h3>How is it being calculated? Predetermined values or calculated on the fly?</h3>
The results are calculated on the fly by advanced algorithms developed and optimized to deliver accurate results at optimum speed. The total number of iterations is shown on the table for every new calculation.
