<h3>什么是《赌神赢率》？</h3>
《赌神赢率》是一个扑克牌概率计算器。它帮助牌手计算每手牌的赢率。您可以在牌桌上使用，也可以打完牌以后用它来总结和学习。
    
<h3>我可以怎么使用《赌神赢率》？</h3>
您可以在屏幕下方的52张牌选择您和对手的底牌。每手牌的赢率会自动显示在底牌的底下。然后您可以选择flop和转牌，概率会自动更新。点一下已经选择的牌会清除已有的选择。

<h3>为什么奥马哈底牌只有10万组合（蒙地卡羅方法）?</h3>
估算10万组合和精确结果误差最多只有0.2%。《赌神赢率》能在3秒钟内完成计算10万组合。

<h3>为什么只有德州扑克和奥马哈？</h3>
我们会在以后的更新增加梭哈，Razz, 五张换，2-7三次换，2-7单次换等等。

<h3>概率是怎么计算的？是预先计算还是当场计算？</h3>
当场计算。计算组合的次数显示在屏幕上。我们开发出先进的算法来优化完成计算！
